@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>Use this area to provide additional information.</p>
<p>Fix in release 2016.1</p>

<button id="about-click-me">Click Me</button>
@section Scripts {    
    <script type="text/javascript" src="/scripts/site.min.js"></script>
}